*{
    margin: 0;
    padding: 0;
}

/* Styles for whole page ------------------------------------------------------------------------------- */

body {
    background-color: white; /* Main theme background */
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #1181b4; /* Header background - soft blue */
    padding: 20px;
    text-align: center;

    font-size: 24px;
    font-weight: 200;
    color: #ffffff; /* Darker color for text */
}

/* Styles for settisng  -------------------------------------------------------------------------------*/

.settings-box {
    background-color: #D6EAF8; /* Settings box background - pale coral */
    border-radius: 8px;
    margin: 10px;
    color: #333; /* Darker color for text */
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center ;
    height: 100px;
}

.settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50px;
    width: 70px;
    font-size: 17px;
    font-weight: 700;
}

#eraser{
    height: 25px;
    width: 25px;
}



/* Styles for grid ------------------------------------------------------------------------------- */
#outerGrid {
    display: flex;
    justify-content: center;
}

#pixelArtContainer {
    display: grid;
    grid-template-columns: repeat(10, 20px); /* Adjust grid size as needed */
}

.pixel-grid:hover{
    cursor: crosshair;
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: white; /* Default color for pixels */
    border: 0.5px solid #ddd; /* Border to see individual pixels */
}

/* Styles for Export Button ------------------------------------------------------------------------------- */

.btnDiv{
    display: flex;
    justify-content: center;
}

#exportBtn {
    background-color: #1181b4; /* Muted teal button background */
    color: white; 
    padding: 10px 20px;
    border: solid #1181b4;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}
#exportBtn:hover {
    background-color: #ffffff; /* Slightly darker teal on hover */
    color: #1181b4;
    border: solid #1181b4;
}